main {
  display: flex;
  flex-flow: column;
  row-gap: 50px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: azure;
}

main h1 {
  width: 100%;
  text-align: center;
  color: rgb(236, 76, 76);
  letter-spacing: 1px;
  text-shadow: 1px 2px rgb(167, 104, 104);
}

.city {
  display: flex;
  align-items: center;
  width: 80%;
  box-shadow: 0 0.3em 0.5em -0.1em #013530;
  border-radius: 15px;
  background-color: white;
}

.city img {
  min-width: 350px;
  max-width: 350px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.city-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 20px 5px 20px;
  border-radius: 15px;
}

.city-content h2 {
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgb(236, 76, 76);
}

.city-content button {
  background-color: #013530;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 5px 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
  letter-spacing: 1px;
}

.city-content button:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 0.5em -0.1em #013530;
  transition: all 0.3s ease;
}

.dark div{
  background-color: #1e6e66;
}

.dark p {
  color: azure;
}

.dark h2{
  color: rgb(236, 76, 76);
  text-shadow: 1px 1px rgb(240, 163, 163);
}

.dark button {
  background-color: rgb(236, 76, 76);
}